

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DiGiZone</title>
</head>
<body>
	
  <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="style.css">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2  style=color:antiquewhite  class="text-center mb-4"><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DiGiZone</title>
</head>
<body>
	
  <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="style.css">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h3  style=color:black  class="text-center mb-4">CREATE  NEW PASSWORD</h3>
				<form   method="post">
					<div class="form-group">

   
						<% if(typeof message !== 'undefined'){ %>
							<h2 id="er2" style=    "  color:rgb(185, 37, 32);text-align: center;"><%= message %></h2>
							<% } %>
						<h4 for="Password">Enter Your Password</h4>
						<input type="text" class="form-control" id="Password" name="Password" placeholder="Enter Password" required>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
					
					

				</form>
			</div>
		</div>
	</div>
	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- Custom JS -->
	<script src="script.js"></script>
</body>
</html>


<style>
body {
	background-color: #2fd3bd;
}

.container {
	margin-top: 50px;
}

.form-group label {
	font-weight: bold;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}
</style>

</body>
</html>


